<%- include('partials/header') %>

<div class="not-found">
    <h2>404 - Strona Nie Znaleziono</h2>
    <p>Przepraszamy, ale nie możemy znaleźć strony, której szukasz.</p>
    <a href="/" class="btn">Wróć do Strony Głównej</a>
</div>

<%- include('partials/footer') %>