<%- include('partials/header') %>

<h1 class="text-center">Witaj na mojej stronie!</h1>
<p class="text-center">Jestem web developerem. Zapraszam do zapoznania się z moim portfolio.</p>

<%- include('partials/footer') %>