<%- include('partials/header') %>

<h1 class="text-center">Nasza Oferta</h1>

<div class="offer-table mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="bg-dark">Nazwa Produktu</th>
                <th scope="col" class="bg-dark">Opis</th>
                <th scope="col" class="bg-dark">Cena</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Produkt 1</td>
                <td>Opis produktu 1</td>
                <td>99,99 zł</td>
            </tr>
            <tr>
                <td>Produkt 2</td>
                <td>Opis produktu 2</td>
                <td>199,99 zł</td>
            </tr>
            <tr>
                <td>Produkt 3</td>
                <td>Opis produktu 3</td>
                <td>299,99 zł</td>
            </tr>
        </tbody>
    </table>
</div>

<%- include('partials/footer') %>
